@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300 .. 700&display=swap');
*{
font-family: Marhey;
margin: 0px;
padding: 0;
}        
body {
background-color:
rgb(247, 247, 247);
}
.container {
background-color:
rgb(0, 255, 221);

display: flex;
flex-direction: column;
gap: 10px;
margin: 20px auto;
width: fit-content;
padding: 30px;
border-radius: 10px;
}

h1{
text-align: center;
margin-top: 20px;
}
h2{
    font-weight: normal;
}
input{
    border: none;
    border-bottom: 3px solid;
    background-color: rgb(0, 255, 221);
    margin-bottom: 5px;
    padding: 5PX;
}
input:focus {
    outline: none;
}
input ::placeholder {
    background-color: black;
    opacity: 0.5;
}
